@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,300&display=swap");

:root {
  --blue: #517ab3;
  --lightblue: #b0c2dc;
  --darkgrey: #1e1f20;
  --grey: #636363;
}

#displayPicture {
  width: 45%;
  margin-top: 30px;
  filter: drop-shadow(5px 3px 5px var(--grey));
}

body {
  background-image: url("./images/bg.jpeg");
  background-size: 300px;
  text-align: center;
  background-color: white;
  margin: auto;
  padding-bottom: 50px;
}

ul {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-family: "Chakra Petch", sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 90px;
  text-shadow: 3px 3px var(--blue);
}

h1 a:hover {
  color: var(--blue);
  text-shadow: 3px 3px var(--darkgrey);
}

h2 {
  margin-top: 0px;
  font-size: 50px;
  text-shadow: 3px 3px var(--lightblue);
  letter-spacing: 5px;
}

h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

h4 {
  color: var(--blue);
  margin-bottom: 5px;
}

p {
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-left: 50px;
  margin-right: 50px;
}

li {
  margin: 5px;
}

.date {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  top: 0;
  position: sticky;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.card {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 20px;
  width: 65%;
  height: auto;
  border-radius: 1em;
  box-shadow: 3px 3px 5px 5px var(--lightblue);
}

.footer {
  display: flex;
  justify-content: center;
}

a {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0;

  text-decoration: none;
  color: var(--darkgrey);
}

a:hover {
  color: var(--blue);
}

#contact {
  margin-bottom: 5px;
}

.scrolling {
  text-align: left;
  font-size: 50px;
}
